
li {
  min-height: 30px;
  background-color: #d4daf0;
  list-style: none;
  text-align: left;
  margin-bottom: 3px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -7%;
}
.checklist-title {
  display: inline-block;
  font-weight: bold;
  color: #172b4d;
  text-align: left;
}
.checklist-button {
  float: right;
}
.progress-bar {
  margin-top: 10px;
}

/* The Close Button */
.close-task {
  float: right;
  color: #aaa;
}

.close-task:hover,
.close-task:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}  
