.header-modal{
  /*background-color: white;*/
  height: 10%;
}
.details-space {
  height: 100%;
  /* background-color: rgb(247, 97, 209); */
}
h1, h2{
  color: #172b4d;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  padding-bottom: 10px;
  /* background-color: rgb(247, 97, 209); */
}