.headerModal{
  background-color: white;
  height: 10%;
}
.details-space {
  height: 100%;
  /* background-color: rgb(247, 97, 209); */
}
h2 {
  color: #172b4d;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
  /* background-color: rgb(247, 97, 209); */
}