  .suggested-space {
    /* background-color: rgb(10, 4, 102); */
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  .suggested {
    background-color: rgb(243, 187, 234);
    width: 30%;
    height: 90%;
    padding: 2%;
  }
  h5 {
    color: #172b4d;
  }
  li {
    height: 35px;
    background-color: #d4daf0;
    list-style: none;
    text-align: left;
    margin-bottom: 5px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -20%;
  }
  .modalContainer {
    display: block;
    width: 20%; /* Full width */
    height: 30%; /* Full height */
    overflow: auto; 
    margin-left: 2%;
    padding: 1%;
    /* background-color: #ebecf0; */
    background-color: #fff;
    border: 1px solid #888;
    position: fixed;
    z-index: 1;

  }
 
  /* The Close Button */
  .closeCheck {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    height: 5%;
  }
  .closeCheck:hover,
  .closeCheck:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .headerChack h5 {
    height: 10%;
    color: #172b4d;
    text-align: center;
    border-bottom: 3px solid #888;
  }
  h6 {
    color: #172b4d;
    text-align: left;
  }
  .input-checklist {
    width: 95%;
    height: 10%;
    padding: 5px;
    margin-bottom: 3px;
  }
